<%= form_with(model: brewing) do |form| %>
  <% if brewing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brewing.errors.count, "error") %> prohibited this brewing from being saved:</h2>

      <ul>
        <% brewing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brewers %>
    <%= form.text_field :brewers %>
  </div>

  <div class="field">
    <%= form.label :batch_number %>
    <%= form.number_field :batch_number %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength %>
  </div>

  <div class="field">
    <%= form.label :original_gravity %>
    <%= form.number_field :original_gravity %>
  </div>

  <div class="field">
    <%= form.label :final_gravity %>
    <%= form.number_field :final_gravity %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
